<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="eventHub" connectionString="Endpoint=sb://wiredbraincoffeeeh-nspace.servicebus.windows.net/;SharedAccessKeyName=SendAndListenPolicy;SharedAccessKey=y17Vc1wJ0t3J2rThmbEe0V2nyLK/uzXgchNNEPKq+Aw=;EntityPath=wiredbraincoffeealerteh"/>
  </connectionStrings>
</configuration>