<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="eventHub" connectionString="Endpoint=sb://wiredbraincoffeeeh-nspace.servicebus.windows.net/;SharedAccessKeyName=SendAndListenPolicy;SharedAccessKey=rH6DE3pOI3WOsnOqxWhhcT0TAkt8dHvcTa6A1vhCCjk=;EntityPath=wiredbraincoffeeeh"/>
  </connectionStrings>
</configuration>